<div class="header-container">
    <div class="navbar-top">
        <div id="menuIcon" onclick="openPageMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- <div onclick="openPageMenu()" class="menu-btn">
            HAUPTMENÜ
        </div> -->
        <div>
            <img class="logo-img" src="./assets/img/favicon.png" alt="">
        </div>    
    </div>
    <h1>NOT-Funk Gruppe<br> 
        Funknetzdeutschland
    </h1>
</div>
