<div class="header-container">
    <div class="navbar-top">
        <div id="menuIcon" onclick="openPageMenu()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- <div onclick="openPageMenu()" class="menu-btn">
            HAUPTMENÜ
        </div> -->
        <div>
            <a href="./index.html"><img class="logo-img" src="./assets/img/favicon.png" alt=""></a>
        </div>    
    </div>
    <div class="header-bottom-container">
        <h1>NOT-Funk Gruppe<br> 
            Funknetzdeutschland
        </h1>
    </div>    
</div>
