<div id="overlay" class="menu-overlay" onclick="closePageMenu()"></div>
<nav id="navigation" class="navbar-container">
    <a href="./index.html">Die Idee</a>
    <a href="./kommunikation.html">Kommunikation</a>
    <a href="./links.html">DX27Cluster + Links</a>
    <a href="./fotos-videos.html">Fotos und Videos</a>
    <a href="./monitor.html">Monitor und Server</a>
    <a href="#">DMR Funk-Netz Server</a>
    <a href="./kontakt.html">Kontakt</a>
    <a target="_blank" href="https://discord.com/invite/R7XBfKsQfg">Discord Server</a>
    <a target="_blank" href="http://funknetzdeutschland.ddnsking.com/oscar100.html">Oscar100</a>
    <a target="_blank" href="http://funknetzdeutschland.ddnsking.com/DMRepaters.html">DMR-Repeater</a>
    <a href="./erip-berechnung.html">ERIP-Berechnung</a>
    <a target="_blank" href="https://www.google.com/maps/d/viewer?mid=1I-6PwAZoMgV84ZYvvYscKzm6H0o&ll=52.434210779642754%2C8.994541799999993&z=7">Standorte</a>
    <a href="./rasberry-pi.html">Raspberry-PI</a>
    <a target="_blank" href="http://funknetzdeutschland.ddnsking.com/Tableau%20das%20Bord%20RRF/funknetz.htm">Bord Funknetz</a>
</nav>