<div id="navigation" class="menu-overlay" onclick="closePageMenu()">
    <nav class="navbar-container">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
        <a href="#">Link 7</a>
        <a href="#">Link 8</a>
        <a href="#">Link 9</a>
        <a href="#">Link 10</a>
        <a href="#">Link 11</a>
        <a href="#">Link 12</a>
        <a href="#">Link 13</a>
        <a href="#">Link 14</a>
        <a href="#">Link 15</a>
    </nav>
</div>    